/* src/components/CustomChatbot.css */

.chatbot-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
  /* min-height: 500px;
  max-height: 800px; */
  height: 600px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chatbot-banner {
  background-color: #007bff;
  padding: 1rem;
  text-align: center;
}

.chatbot-banner h2 {
  margin: 0;
  font-size: 1.2em;
  color: white;
}

.chatbot-messages {
  flex-grow: 1;
  padding: 15px;
  overflow-y: auto;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  max-height: 100%;
}

.message {
  padding: 8px 10px;
  margin: 5px 0;
  border-radius: 12px;
  max-width: 80%;
  padding-inline: 1rem;
  display: flex;
}

.message.user {
  align-self: flex-end;
  background-color: #007bff;
  color: white;
  justify-content: flex-end;
}

.message.bot {
  align-self: flex-start;
  background-color: #e0e0e0;
  color: black;
  justify-content: flex-start;
}

.message.system {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: center;
  background-color: #ffecb3; /* Light yellow background for disconnect message */
  color: #333;
  padding: 10px; /* Add padding for better spacing */
  border-radius: 8px; /* Rounded corners */
  width: 90%; /* Makes the message box less wide */
  max-width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
}

.loading {
  font-style: italic;
  color: #555;
  align-self: flex-start;
  padding: 5px 10px;
}

.chatbot-input {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

.chatbot-input input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.chatbot-input button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.chatbot-input button:hover {
  background-color: #0056b3;
}

.reconnect-button {
  display: flex;
  text-align: center ;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.reconnect-button:hover {
  background-color: #0056b3;
}
