<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Boilerplate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script
        type="text/javascript"
        src="https://cdn.jsdelivr.net/npm/iaigroup-chatwidget@latest/build/bundle.min.js"
    ></script>
</head>
<body>

    <div class="container">

        <div class="header main-flex">  
            <h1>Welcome to Flask!</h1>
            <p>This is a basic Flask boilerplate.</p>
        </div>

        <div id="customContainerId">
        
        </div>
    </div>

   
  

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
